
header {
    height: 500px;
    background: url("../img/LandingPage.png") no-repeat center;
    background-size: cover;
    -webkit-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 12px -5px #22376d;
    position: relative;  
}
 
.description-top {
    width: 70%; 
    margin: 0 auto;
    margin-bottom: 100px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.4);
    mix-blend-mode: color-burn;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "name name name"
    "numbers text text"
    "numbers text text"
    "hobbies work work"
}

.description-top > .upper-box {
    grid-area: name;
    background-color: #320E3A;
    color: yellow;
    padding: 30px 0px 0px 40px;
    position:relative;    
    margin-top: -300px;
}

.description-top > .upper-box > .description-title {
    width: 75%;
}

.description-top > .upper-box > .circle {
    height: 4rem;
    width: 9rem;
    border-radius: 100%;
    background-image: url("../img/Picture-profile.jpg");
    background-size: cover;
    background-position: center center;
    z-index: 0;
    position: absolute;
    padding-top:100px;
    right: 5%;
    margin-top:20px;
    margin-top: -70px;   
}

.description-top > .description-numbers{
    grid-area: numbers;
    background-color: #7E95A0;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    padding:0px 10px 40px 10px;
    column-gap: 1px;
    row-gap: 1px;
}

.description-top > .description-text{
    grid-area: text;
    background-color: white;
    padding:30px 40px;
}

.description-top > .description-text h3{
    font-weight: bold;
    font-size: 1.5rem;
}

.description-top > .description-text .CV-line {
    background-color: red;
    width: 20%;
    margin: 0;
}

.description-top > .description-text p {
   padding-bottom: 15px;
}

.description-top > .work{
    grid-area: work;
    background-image: url("https://cdn.pixabay.com/photo/2016/12/05/19/45/pill-1884777_960_720.jpg");
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    align-items: center;
    color:black; 
    column-gap: 1px;
    row-gap: 1px;
    grid-template-areas:
    "work-title"
    "work-experience"

}

.description-top > .work > .work-title{
    grid-area: work-title;
    padding-top: 20px;
}

.description-top > .work > .work-experience{
    grid-area: work-experience;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 80px;
}

@media screen and (max-width: 800px) {
    .description-top {
        width: 100%;
    }
}
