:root {
  --brand-color: #881e50;
  --main-color:black; }

* {
  box-sizing: border-box !important; }

body {
  background-color: white;
  overflow-x: hidden !important; }

h1, h2, h3 {
  color: black; }

a {
  text-decoration: none !important;
  color: black; }
  a:hover {
    color: white;
    cursor: pointer; }

.title {
  padding: 80px 0px;
  font-size: 2rem; }
  .title hr {
    margin-top: -10px;
    width: 50%;
    border: 2px solid var(--brand-color); }

button,
.button {
  border: 2px solid white;
  color: white;
  transition: opacity 0.4s;
  margin-top: 20px; }
  button:hover,
  .button:hover {
    border: 2px solid var(--brand-color);
    cursor: pointer;
    background-color: var(--brand-color); }
  button:focus,
  .button:focus {
    opacity: 0.7; }

.container-1 {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1030px;
  font-size: 3.3rem;
  background-image: url("../../img/dna.jpg"), url("../../img/web.jpg");
  background-position: center;
  background-blend-mode: multiply ,exclusion;
  background-size: cover;
  color: white;
  position: relative;
  z-index: 1;
  width: 100%; }
  .container-1 .button {
    background-color: transparent;
    font-size: 1.5rem;
    padding: 10px 20px;
    transition: 0.7s; }
    .container-1 .button svg {
      margin-left: 10px;
      width: 15px;
      fill: white;
      transition: 0.7s; }
    .container-1 .button:hover > svg {
      transform: rotate(90deg); }
  .container-1 .text-select {
    color: var(--brand-color);
    position: relative; }
  .container-1 .text-select::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 400ms ease-in 300ms; }

.text-select:hover::after {
  transform: scale(1);
  transform-origin: left; }

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about .icons {
    padding: 0px 50px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    @media screen and (min-width: 600px) and (max-width: 1200px) {
      .about .icons {
        width: 100%; } }
    .about .icons div {
      padding: 0px 25px; }
      @media screen and (min-width: 600px) and (max-width: 1200px) {
        .about .icons div {
          padding: 0px 120px; } }
    .about .icons img {
      width: 60px;
      align-items: center;
      justify-content: center;
      text-align: center; }
    .about .icons .img {
      padding: 25px;
      -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
      clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
      border: 10px solid var(--brand-color);
      opacity: 0.9;
      background-color: var(--brand-color); }
    .about .icons p {
      padding: 20px 0px 40px 0px;
      text-align: center;
      font-weight: bold;
      font-size: 1.2rem; }
  .about .description {
    width: 80%;
    display: flex;
    flex-direction: "";
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .about .description div:nth-child(1) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .about .description .pic-profile {
      position: relative;
      width: 600px;
      height: 400px;
      background: grey;
      transform: translateX(-70%); }
      @media screen and (max-width: 750px) {
        .about .description .pic-profile {
          width: 350px;
          height: 300px; } }
      .about .description .pic-profile .clip {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s; }
      .about .description .pic-profile .clip.clip1 {
        background-image: url("../../img/profile2.jpg");
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 55% 0, 16% 100%, 0% 100%);
        clip-path: polygon(0 0, 55% 0, 16% 100%, 0% 100%); }
      .about .description .pic-profile .clip.clip2 {
        background-image: url("../../img/profile.jpg");
        background-size: cover;
        -webkit-clip-path: polygon(55% 0, 100% 0, 43% 100%, 16% 100%);
        clip-path: polygon(55% 0, 100% 0, 43% 100%, 16% 100%); }
      .about .description .pic-profile .clip.clip3 {
        background-image: url("../../img/profile3.jpg");
        background-size: cover;
        -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 43% 100%);
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 43% 100%); }
      .about .description .pic-profile:hover .clip {
        -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
      .about .description .pic-profile .clip:hover {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
    .about .description .text {
      padding-top: 40px;
      width: 65%; }
    .about .description .pic-profile,
    .about .description .text {
      opacity: 0;
      transition: opacity 300ms,  transform 1.2s; }
    .about .description .pic-profile.appear,
    .about .description .text.appear {
      transform: translateX(0);
      opacity: 1; }
    .about .description .stats {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-content: left;
      margin: 60px 0px; }
      .about .description .stats .boxes {
        width: 420px;
        height: 30px;
        display: grid;
        grid-template-columns: 0.4fr 1fr;
        margin: 10px; }
        @media screen and (max-width: 750px) {
          .about .description .stats .boxes {
            width: 350px; } }
        .about .description .stats .boxes div {
          display: flex;
          align-items: center;
          height: 30px; }
          .about .description .stats .boxes div:nth-child(1) {
            background-color: var(--brand-color);
            width: 210px; }
          .about .description .stats .boxes div:nth-child(2) {
            text-align: right;
            background-color: #adabab; }
          .about .description .stats .boxes div p {
            color: white;
            padding: 15px 20px 0px 20px;
            font-weight: bold;
            width: 100%; }
      .about .description .stats .boxes.mongo div:nth-child(1),
      .about .description .stats .boxes.bootstrap div:nth-child(1) {
        width: 180px; }
      .about .description .stats .boxes.sass div:nth-child(1) {
        width: 250px; }

.fade-in {
  opacity: 0;
  transition: opacity 400ms; }

.fade-in.appear {
  opacity: 1; }

.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px; }
  .container-2 .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
    transition: 1s ease-out;
    transform: translateY(70%);
    opacity: 0;
    transition: opacity 500ms,  transform 800ms; }
    @media screen and (max-width: 750px) {
      .container-2 .projects {
        width: 350px; } }
    .container-2 .projects .projects-img {
      position: relative;
      z-index: 1; }
      .container-2 .projects .projects-img img {
        height: 300px;
        width: 400px; }
        @media screen and (max-width: 750px) {
          .container-2 .projects .projects-img img {
            width: 350px; } }
      .container-2 .projects .projects-img .info {
        height: 300px;
        width: 400px;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 500ms;
        z-index: 2; }
        @media screen and (max-width: 750px) {
          .container-2 .projects .projects-img .info {
            width: 350px; } }
        .container-2 .projects .projects-img .info p:nth-child(1) {
          font-weight: bold;
          font-size: 1.3rem; }
        .container-2 .projects .projects-img .info p:nth-child(2) {
          color: var(--brand-color);
          line-height: 0.3rem; }
        .container-2 .projects .projects-img .info p:nth-child(3) {
          padding: 0px 20px; }
        .container-2 .projects .projects-img .info .button {
          color: black;
          padding: 10px 20px;
          border: 2px solid var(--brand-color);
          background-color: inherit;
          transition: 600ms; }
          .container-2 .projects .projects-img .info .button:hover {
            background-color: var(--brand-color);
            color: white; }
      .container-2 .projects .projects-img:hover .info {
        opacity: 1;
        background-color: #f1eeee; }
  .container-2 .projects.appear {
    transform: translateY(0);
    opacity: 1; }
