:root {
  --brand-color: #881e50;
  --main-color:black; }

* {
  box-sizing: border-box !important; }

body {
  background-color: white;
  overflow-x: hidden !important; }

h1, h2, h3 {
  color: black; }

a {
  text-decoration: none !important;
  color: black; }
  a:hover {
    color: white;
    cursor: pointer; }

.title {
  padding: 80px 0px;
  font-size: 2rem; }
  .title hr {
    margin-top: -10px;
    width: 50%;
    border: 2px solid var(--brand-color); }

button,
.button {
  border: 2px solid white;
  color: white;
  transition: opacity 0.4s;
  margin-top: 20px; }
  button:hover,
  .button:hover {
    border: 2px solid var(--brand-color);
    cursor: pointer;
    background-color: var(--brand-color); }
  button:focus,
  .button:focus {
    opacity: 0.7; }

.container-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  -webkit-clip-path: polygon(50% 0%, 100% 13%, 100% 100%, 0 100%, 0 13%);
  clip-path: polygon(50% 0%, 100% 13%, 100% 100%, 0 100%, 0 13%);
  background: #223c50;
  border-top: 3px solid #04c2c9;
  height: 980px; }
  .container-3 .title {
    color: white;
    padding-top: 150px; }
  .container-3 .contact-details {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    align-items: center;
    margin-top: -100px;
    width: 300px;
    color: white; }
    .container-3 .contact-details a {
      color: white; }
      .container-3 .contact-details a:hover {
        cursor: pointer;
        color: var(--brand-color);
        font-weight: bold; }
  .container-3 div > p {
    text-align: left; }
  .container-3 div > i {
    color: var(--brand-color);
    padding-right: 30px;
    flex-basis: lef; }
  .container-3 .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-top: 50px;
    background: #223c52;
    box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.14); }
    .container-3 .links div:nth-child(1) {
      padding-right: 40px; }
    .container-3 .links div i {
      height: 40px;
      width: 40px;
      color: white; }
    .container-3 .links i:hover {
      cursor: pointer;
      transform: scale(1.2);
      color: var(--brand-color); }
