@import 'common';

$size:991px;
$size2: 770px;
$size3:991px;
@mixin size {
    @media screen and (max-width: #{$size}){
        @content;
    }
}

@mixin size2 {
    @media screen and (min-width: #{$size2}) and (max-width: #{$size3}){
        @content;
    }
}
.content{
    width:75vw;
    background-color: white;
    margin-top: 50px;
    @include display-flex(flex, "" , center, center);
    text-align: center;
    @include size {
        width: 90vw;
    }
}

.container-1 {
    height: 500px;
    font-size: 3.3rem; 
    background-image: url("../../img/dna.jpg"), url("../../img/web.jpg"); 
    background-position: center;
    background-blend-mode: multiply ,exclusion;
    background-size: cover;
    color: white;    
    .title {
        padding: 0px 25px;
    }
    .text-select{
        color: var(--brand-color);
        position: relative; 
    }
    .text-select::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;   
        background-color:  currentColor;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 400ms ease-in 300ms;
    }
}

.text-select:hover::after{
    transform: scale(1);
    transform-origin: left;
}

.container-2 {
    height: fit-content;
    @include display-flex(flex, column , center, center);
    .title {
        padding: 50px 25px;
        p{
            font-size: 3.3rem;
            color: #45d3ab;
        } 
    }
    .row {
        width: 75vw;
        padding-bottom: 50px;
    }
    .row > div {
        height: 200px;  
        @include display-flex(flex, column , center, center);
        z-index:0;
    }
    .row > div:nth-child(n):nth-child(-n+3) {
        border-right: 2px solid black;
        @include size {
            border-right: none;
            border-bottom: 2px solid black;
            padding-bottom: 40px;     
        }  
    }
    .row > div:nth-child(3){
        @include size2 {
            border: none !important;   
        }
    }

    .row > div:nth-child(2) > .circle {
        height: 90px;
        width: 90px;   
        border-radius: 100%;
        background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
        position: relative;
        z-index:1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: transparent;
        transition: 1s ease-out;
            &:hover {
                color: black;
            }
        a {
            color: currentColor;
        }
        p {
            margin: 0
        }
    }
    .row > div:nth-child(2) > .circle:before,
    .row > div:nth-child(2) > .circle::after  {
        content:'';
        height: 110px;
        width: 88px;   
        top:0;
        left:0;
        bottom:0;
        border-radius: 20% 50% 80% 80%;
        background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
        position: absolute;
        z-index:-1;
        transform-origin: left;
        transition: 900ms;
    }
    .row > div:nth-child(2):hover >.circle::after {
        transform: translateX(80%);     
 
    }
    .row > div:nth-child(2):hover >.circle::before {
        transform: translateX(-80%);      
    }
}

.container-3 {
    @include display-flex(flex, "" , space-between, center);
   
    padding: 50px;
    align-items: flex-start;
    @include size {
        @include display-flex(flex, column , center, center); 
    }
    .bootcamp {
        .title {
            font-size: 1.4rem;
            font-weight: bold;
            padding-bottom: 30px;
        }
   
        .subject {
            height: 40px;
            width: 250px;
            color: white;
            padding-top:9px;
            margin-bottom: 5px;
        }
        .subject-1 {
            margin-left:50px;
            background: linear-gradient(90deg, rgba(63,127,199,1) 22%, rgba(63,191,173,1) 80%);
        }
        .subject-2 {
            margin-left: 80px;
            background: linear-gradient(90deg, rgba(63,191,108,0.9164040616246498) 0%, rgba(63,199,127,1) 4%, rgba(63,127,199,0.9051995798319328) 86%);
        }
        .subject-3 {
            margin-left: 10px;
            background: linear-gradient(90deg, rgba(63,127,199,1) 22%, rgba(63,191,173,1) 80%);
        }
        .subject-4 {
            margin-left: 130px;
            background: linear-gradient(90deg, rgba(63,191,108,0.9164040616246498) 0%, rgba(63,199,127,1) 4%, rgba(63,127,199,0.9051995798319328) 86%);
        }
        .subject-5 {
            margin-left: 30px;
            background: linear-gradient(90deg, rgba(63,127,199,1) 22%, rgba(63,191,173,1) 80%);
        }
    }
    .courses {
        width: 28%;
        text-align: left;
        @include size {
            width: 100%;
            padding-top: 50px; 
        }
        .title {
            font-size: 1.4rem;
            font-weight: bold;
            padding-bottom: 30px;
            text-align: center;
        }
    }
}

.sql {
    margin: -40px -20px 0px 0px;
    z-index:-1
}

.wheel{
    animation: wheel 6s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
    margin-top: -3000px !important;
}


@keyframes wheel{
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}
