@import 'common';

.container-3 {
    @include display-flex(flex, column , space-around, center);
    clip-path: polygon(50% 0%, 100% 13%, 100% 100%, 0 100%, 0 13%);
    background:  #223c50;
    border-top: 3px solid #04c2c9;  
    height: 980px;
    .title {
        color: white;
        padding-top: 150px;
    }
    .contact-details{
        @include display-flex(flex, row , left, left);
        align-items: center;
        margin-top: -100px; 
        width: 300px;
        color: white;
        a {
            color: white;
            &:hover {
                cursor: pointer;
                color: var(--brand-color);
                font-weight: bold;
                
            }
        }
    }
    div > p {
        text-align: left;
    }
    div > i {
        color: var(--brand-color);
        padding-right: 30px;
        flex-basis: lef;

    }

    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        padding-top: 50px;
        background: #223c52;
        box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.14);
        div:nth-child(1){
            padding-right: 40px;
        }
        div i {
                height: 40px;
                width: 40px;
                color: white; 
        }
        i:hover {
            cursor: pointer;
            transform: scale(1.2);
            color: var(--brand-color)
        }
    }
}