@import 'common';

$size:991px;
@mixin size {
    @media screen and (max-width: #{$size}){
        @content;
    }
}

.nav-bar {
    width: 75vw;
    background-color: white;
    @include display-flex(flex, "" , space-between, center);
    height: 80px;
    border-bottom: 1px solid grey;
    box-shadow: 0px 3px 5px -4px grey;  
    padding: 0px 40px;
    font-size: 1.3rem;
    @include size {
        width: 90vw;
    }
    .logo {
        img {
            height:45px;
        }
    }
    .tabs {
        @include display-flex(flex, row , center, center); 
    }     
}