@import 'common';

$size:450px;
@mixin size {
    @media screen and (max-width: #{$size}){
        @content;
    }
}

.nav-bar {
    @include display-flex(flex, "" , center, center);
    overflow: hidden;
    height: 55px;
    width: 100%;
    border-bottom: 3px solid #04c2c9;
    background-color: #223c50;
    opacity: 0.9;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    .logo {
        img {
            height:45px;
        }
    }
    .tabs {
        @include display-flex(flex, row , center, center); 
        a {
            transition: 0.5s;
            color: white;
            @include size {
                margin: -8px;
                font-size: 0.8rem;
            } 
            &:hover {
                color: var(--brand-color);
                font-weight: bold;
                
            }
        }
    }     
}

.sticky {
    position: fixed;
    top: 0;
    opacity: 1;
 
}